@media (max-width: 78em) {
  html {
    font-size: 56.25%;
  }

  .footer .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .community-col {
    grid-column: 2;
    margin-left: 6.4rem;
  }

  .popup-screen {
    width: 60%;
    margin-left: 20%;
  }
}

@media (max-width: 69em) {
  /* mobile navigation */

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  nav {
    background-color: rgba(20, 29, 38, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

@media (max-width: 62em) {
  html {
    font-size: 50%;
  }

  .community-col {
    margin-left: 0;
  }

  .section-gallery .container {
    grid-template-columns: 1fr;
  }

  .gallery-grid {
    flex-direction: row;
  }

  .training-weeks {
    grid-template-columns: 1fr;
  }

  .popup-screen {
    width: 70%;
    margin-left: 15%;
  }
}

@media (max-width: 50em) {
  .footer .container {
    grid-template-columns: 1fr 1fr;
  }

  .logo-col {
    grid-column: 1 /-1;
  }

  .community-col {
    grid-column: 1;
    grid-row: 2;
    margin-left: 0;
  }

  .cta-col {
    grid-column: 2 / -1;
    grid-row: 2;
  }

  .copyright {
    margin-top: 3rem;
    grid-row: 3;
  }

  .gallery-grid,
  .gallery-grid-2 {
    flex-direction: column;
  }

  .section-about .grid {
    grid-template-columns: 1fr;
  }

  .popup-screen {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 43.75%;
  }

  .container {
    padding: 0 3.2rem;
  }

  .popup-screen {
    width: 90%;
    margin-left: 5%;
  }
}

@media (max-width: 31em) {
  .training-resources {
    flex-direction: column;
  }

  .coaches-grid {
    grid-template-columns: 1fr 1fr;
  }

  .contest-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-items: start;
  }

  .contest-card-cta {
    grid-column: 2;
    grid-row: 1 / 3;
    align-self: center;
  }

  .problem-title {
    width: 100%;
    text-align: center;
  }

  .popup-card {
    flex-direction: column;
    gap: 2rem;
  }

  .problem-name {
    margin-left: 0;
    text-align: right;
  }
}

@media (max-width: 23em) {
  .logo {
    height: 6.4rem;
  }
}
