/****************/
/* HEADER */
/****************/

.hero-background {
  background-image: url("../img/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.upper-site {
  background-image: url("../img/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: 3rem 4rem;
  display: flex;
}

.logo {
  height: 9rem;
}

nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #af2a1b;
}

.nav-cta:link,
.nav-cta:visited {
  background-color: #af2a1b;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #8c2216;
  color: white;
}

/****************/
/* Hero Section */
/****************/

main {
  background-color: #141d26;
}

.section-hero {
  padding-top: 16rem;
  padding-bottom: 14.8rem;
}

.hero-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-subtext {
  font-size: 3rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
  line-height: 1.5;
  color: #e9eaeb;
  letter-spacing: -0.5px;
  text-align: center;
}

.hero-img {
  width: 50%;
  height: 100%;
  border-radius: 15px;
}

.training-open {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

/****************/
/* About Section */
/****************/

.section-about {
  padding: 14.8rem 0;
}

.feature {
  background-color: #232a30;
  padding: 4rem 4rem;
  border-radius: 15px;
}

.feature-icon {
  font-size: 6rem;
  color: #af2a1b;
  margin-bottom: 2.4rem;
}

.feature-text {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #e9eaeb;
  letter-spacing: -0.5px;
  margin-bottom: 2.4rem;
}

/********************/
/* Training Section */
/********************/

.section-training {
  padding-bottom: 14.8rem;
}

.training-card {
  background-color: #232a30;
  padding: 4rem 4rem;
  border-radius: 15px;
  transition: all 0.3s;
}

.training-card:hover {
  transform: translate(0, -0.9rem);
}

.training-card-heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.training-card-text {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #e9eaeb;
  letter-spacing: -0.5px;
  margin-bottom: 2.4rem;
}

.training-resources {
  font-size: 2.4rem;
  color: #e9eaeb;
  display: flex;
  gap: 2rem;
}

.training-link-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.training-link:link,
.training-link:visited {
  font-size: 2.4rem;
  color: #e9eaeb;
  text-decoration: none;
  transition: all 0.3s;
}

.training-link:hover,
.training-link:active {
  color: #af2a1b;
}

.training-link-icon {
  font-size: 3rem;
  color: #af2a1b;
}

/****************/
/* Gallery Section */
/****************/

.section-gallery {
  padding-bottom: 14.8rem;
}

.coaches {
  position: relative;
}

.coaches-grid {
  row-gap: 1rem;
}

.coach-img {
  width: 90%;
  border-radius: 15px;
  transition: all 0.3s;
}

.coach-img:hover {
  transform: scale(1.05);
}

.coach-name {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
  line-height: 1.2;
}

.coach-title {
  font-size: 2rem;
  color: #e9eaeb;
  margin-bottom: 2.4rem;
}

/* Gallery */

.gallery-grid {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  min-width: 50%;
}

.gallery-2 {
  margin-top: 1rem;
  grid-column: 1 / -1;
}

.gallery-grid-2 {
  display: flex;
  gap: 4.8rem;
}

.gallery-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.3s;
  overflow: hidden;
}

/***************/
/* Stats Section */
/***************/

/* Contests */

.section-stats {
  padding-bottom: 14.8rem;
}

.contests-list {
  overflow-y: scroll;
  height: 60rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 9.2rem;
}

.contest-card {
  background-color: #232a30;
  padding: 3rem 4rem;
  border-radius: 15px;
  transition: all 0.3s;
  margin-right: 2rem;
}

.contest-card:hover {
  transform: translate(0.5rem, 0);
}

.contest-grid {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.contest-card-date {
  font-size: 2.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contest-card-heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.contest-card-icon {
  font-size: 3.2rem;
  color: #af2a1b;
  margin-right: 1rem;
}

.contest-card-duration {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #e9eaeb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contest-card-cta:link,
.contest-card-cta:visited {
  font-size: 2.4rem;
  padding: 1.2rem 2.4rem;
  background-color: #af2a1b;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: auto;
  transition: all 0.3s;
}

.contest-card-cta:hover,
.contest-card-cta:active {
  background-color: #8c2216;
}

/* Champions */

.champions-list {
  margin-top: 2rem;
  overflow-y: scroll;
  height: 60rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.champion-card--header {
  width: 98%;
  display: inline-block;
}

.champion-card--header * {
  font-weight: 600;
}

.champion-card {
  background-color: #232a30;
  padding: 3rem 4rem;
  border-radius: 15px;
  transition: all 0.3s;
  margin-right: 2rem;
}

.champion-rank {
  font-size: 2.4rem;
  font-weight: 600;
  margin-right: 3rem;
  width: 6rem;
  display: inline-block;
  text-align: center;
}

.champion-name {
  font-size: 2.4rem;
  font-weight: 600;
  margin-right: 2rem;
  width: 36rem;
  display: inline-block;
  text-align: center;
}

.champion-problems {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #e9eaeb;
  margin-right: 2rem;
  width: 16rem;
  display: inline-block;
  text-align: center;
}

.champion-avg-rank {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #e9eaeb;
  margin-right: 2rem;
  width: 16rem;
  display: inline-block;
  text-align: center;
}

.champion-points {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #e9eaeb;
  width: 16rem;
  text-align: center;
}

/***************/
/* CTA Section */
/***************/

.section-cta {
  border-top: 12px solid #af2a1b;
  border-bottom: 12px solid #af2a1b;
  background-image: url("../img/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cta {
  align-items: center;
  padding: 12rem;
  border-radius: 15px;
  text-align: center;
}

.cta-text {
  font-size: 2.6rem;
  margin-bottom: 2.4rem;
  line-height: 1.3;
  color: #e9eaeb;
  margin-bottom: 9.2rem;
}

.cta-btn {
  font-size: 2.6rem;
  padding: 2.4rem 4.8rem;
  background-color: #af2a1b;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin-left: auto;
  transition: all 0.3s;
}

.cta-btn:hover {
  background-color: #8c2216;
}

/***************/
/* Footer */
/***************/

.footer {
  padding: 7.2rem 0;
  background-color: #141d26;
}

.logo--footer {
  margin-bottom: 2.4rem;
}

.social-text {
  font-size: 2.4rem;
  color: #e9eaeb;
  margin-bottom: 1.2rem;
  line-height: 1.5;
}

.social {
  display: flex;
  gap: 1.6rem;
}

.social-link:link,
.social-link:visited {
  font-size: 3.8rem;
  color: #e9eaeb;
  margin-bottom: 1.2rem;
  line-height: 1.5;
  transition: all 0.3s;
}

.social-link:hover,
.social-link:active {
  color: #af2a1b;
}

.community-col {
  grid-column: 3;
}

.heading-footer {
  font-size: 2.8rem;
  color: #e9eaeb;
  margin-bottom: 2.4rem;
  line-height: 1.5;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-list-item a:link,
.footer-list-item a:visited {
  font-size: 2.4rem;
  color: #e9eaeb;
  margin-bottom: 1.2rem;
  line-height: 1.5;
  transition: all 0.3s;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
}

.footer-list-item a:hover,
.footer-list-item a:active {
  color: #af2a1b;
}

.copyright {
  grid-row: 2;
  grid-column: 1 / -1;
  font-size: 2rem;
  color: #e9eaeb;
  line-height: 1.5;
}
